<% @employees.each do |employee| %>
  <div class="row" id="<%= employee.falabella_employee_id %>">
    <%= link_to falabella_employee_path(employee),remote: true, class:"col-xs-4 text-center id" do %>
      <span><%= employee.falabella_employee_id %></span>
    <% end %>

    <%= link_to falabella_employee_path(employee),remote: true, class:"col-xs-8 text-center name" do %>
      <span><%= employee.name %></span>
    <% end %>
  </div>
<% end %>
