<!DOCTYPE html>
<html>
  <head>
    <title>Falabella</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Falabella</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><%= link_to "Products", products_path %></li>
          <li><%= link_to "Companies", companies_path %></li>
          <li><%= link_to "Falabella Employees", falabella_employees_path %></li>
          <li><%= link_to "External Employees", external_employees_path %></li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Floors <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% Floor.all.each do |f| %>
              <li><%= link_to "Floor #{f.floor_id}", floor_path(f), class:"dropdown-item" %></li>
            <% end %>
          </ul>
        </li>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
